*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.back-city{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../img/city.jpg);
    background-size: cover;
}

.card{
    width: 750px;
    height: 250px;

    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 20px;
    /* transition: font-size 2s; */
    transition: color 5s;
}

.glass{
    border: 10px solid #ffffff50;
    backdrop-filter: blur(8px)
}

.glass p:hover{
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
}